@font-face {
    font-family: FreestyleScript;
    src: url("../css/fonts/FREESTYLE.TTF");
}

/* Main Content */
.content {
    background-color: rgb(46, 28, 10);
    height: 100%;
}

.content #contenttable {
    table-layout: fixed;
    width:100%;
    height: 100%;
}

.content #contenttable td {
    width:50%;
    overflow-y: auto;
}

/* Home description */
.content #homedescell {
    background-image: url("https://user-images.githubusercontent.com/68178267/161794289-3c233dc4-6637-4d92-84c7-5659300b0106.png");
    background-position: top;
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 500px;
    border-bottom: 2px solid rgba(100, 82, 61, 0.3);
}

.content #homedescription {
    width:100%;
    padding-top: 5%;
    border-bottom: 2px solid rgba(100, 82, 61, 0.3);
}

.content #homedescription h1 {
    text-align: center;
    font-family: "FreestyleScript";
    font-size: 58px;
    font-weight: normal;
    color:rgb(192, 146, 94)
}

.content #homedescription h2 {
    text-align: center;
    font-weight: normal;
    font-family: 'Times New Roman';
    font-style: italic;
}

.content #homedescription p {
    font-size: 40px;
    font-family: "FreestyleScript";
    text-align: center;
    color: rgb(233, 112, 60);
}

.content #homedescription #listspec {
    padding-left: 15%;
    font-size: 18px;
    font-style: italic;
}

/* Feedback division */
#feedbackdiv {
    margin-top: 5%;
}

#feedbackmaintable {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

#feedbackmaintable #feedbackcell {
    width: 80%;
}

#feedbackmaintable #caretagline {
    color: rgb(239, 181, 128);
    font-size: 42px;
    font-family: "FreestyleScript";
    text-align: left;
    margin-left: 5%;
    margin-top: 51px;
}

#feedbackbutton {
    color:rgb(243, 195, 136);
    background-color: rgb(100, 82, 61);
    border-color: rgb(243, 195, 136);
    margin-left: 15%;
    margin-bottom: 10px;
    white-space: nowrap;
}

.content #feedbackdiv #feedbacktable {
    margin-left: 5%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgb(47, 37, 25);
    border: 2px solid rgba(192, 146, 94, 0.3);
    padding: 4% 2% 1% 2%;
}

.content #feedbackdiv #feedbacktable td {
    width: 1px;
    overflow: hidden;
    vertical-align: top;
}

#nameinput, #emailinput, #feedbackinput {
    background-color: rgb(243, 195, 136);
    color:rgb(46, 28, 10);
    font-family: "Calibri";
    font-size: 15px;
    border-width: 1px;
    width: 80%;
    margin-right: 20px;
}

#feedbackinput {
    resize: none;
    height: 100px;
}
#feedbacksubmit, #feedbackreset {
    background-color: rgb(100, 66, 28);
    color: rgb(243, 195, 136);
    font-weight: bold;
    border-color: rgb(192, 146, 94);
    border-width: 1px;
}

#homespecialscell {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://user-images.githubusercontent.com/68178267/161721219-e240a1c4-135f-445f-a57e-2f811e425e6e.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    vertical-align: middle;
}

#homespecialscell #homespecialsdiv {
    text-align: center;
    position: relative;
    margin: 5% 5% 5% 5%;
    width: 90%;
    height: 90%;
    background-image: url("https://user-images.githubusercontent.com/68178267/161794289-3c233dc4-6637-4d92-84c7-5659300b0106.png");
    background-position: top;
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 500px;
}
