@font-face {
    font-family: FreestyleScript;
    src: url("../css/fonts/FREESTYLE.TTF");
}

@font-face {
    font-family: Cambria;
    src: url("../css/fonts/cambria.ttc")
}

@font-face {
    font-family: Georgia;
    src: url("../css/fonts/georgia.ttf");
}

body {
    background-color: rgb(46, 28, 10);
    min-width: fit-content;
}

#parent {
    background-image: url("../data/homebg.png");
    background-position: top;
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 500px;
    font-family: 'Cambria';
    color: bisque;
}

/* Top Logo frame */
.toplogoframe {height:70px; text-align: center;
}

#biglogo {height:90%;}

/* Top Frame containing Short desc and food background */
.maininfoframe {
    position:relative;
    width:100%;
    height:190px; 
    color: white;
}

.maininfoframe #mainbg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../data/pastabgtrans.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

/* div containing text */
.maininfotext{
    position: absolute;
    padding-left: 1%;
    padding-right: 6px;
    overflow-y: auto;
    height:100%;
    width: 45%;
    text-align: left;
    min-width: 400px;
}

#maininfotitle {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

#maininfodesc {
    font-style: italic;
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}

/* Main menu */
.mainbuttonframe #buttontable {
    width: 100%;
    text-align: center;
    font-weight: bold;
    table-layout: fixed;
    position: relative;
    min-width: 670px;
    width: 100%;
    height: 100%;
}

.mainbuttonframe #buttontable td{
    background-color: rgba(243, 195, 136, 0.7);
    overflow: hidden;
    width:30px;
}

.mainbuttonframe #buttontable td:hover>a, #buttontable td:hover {
    background-color: rgb(100, 82, 61);
    color: rgb(243, 195, 136);
}

.mainbuttonframe #buttonhome {
    border-left-width: 0px;
}
.mainbuttonframe #buttoncontact {
    border-right-width: 0px;
}

.mainbuttonframe a{
    color: rgb(46, 28, 10);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: block;
    white-space: nowrap;
}

#bottom-panel {
    font-size: 18px;
    width: 100%;
    padding-bottom: 10px;
}

#bottom-panel a {
    color: bisque;
    text-decoration: none;
}

#bottom-panel-table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#bottom-panel-table td {
    width: 50%;
}

#bottom-panel-table .bottomtitle {
    font-family: "FreestyleScript";
    font-size: 40px;
    color: rgb(232, 150, 50);
}

#bottomcont {
    text-align: left; height: 70px; color: rgb(237, 187, 126); vertical-align: bottom;
}

#bottomcont pre {
    font-family: 'Cambria';
    white-space: pre-wrap; 
    text-align: center;  
}
