:root {
    --main-font: "Poppins", sans-serif;

    --white: 255, 255, 255;
    --major-bg: 56, 56, 56;
    --minor-bg: 78, 78, 78;
    --tile-bd-col: 146, 146, 146;
    --sig-orange: 255, 167, 53;
    --sig-yellow: 255, 200, 128;
    --sig-red: 255, 75, 75;
    --tile-bd: 2px;
    --logo-width: 240px;

    --largest-font-size: 10rem;
    --larger-font-size: 7.5rem;
    --large-font-size: 5rem;
    --medium-font-size: 3rem;
    --small-font-size: 2rem;
    --smallest-font-size: 1.33rem;
    --base-font-size: 12px;
    /* 10:5:3:2:1.33 */
}

/* DEBUGGING */

/* div {
    border: 1px solid rgba(0, 255, 106, 0.573);
    background-color: rgba(0, 217, 255, 0.02);
}
img {
    border: 1px solid rgba(225, 255, 0, 0.573);
    background-color: rgba(255, 251, 0, 0.1);
}
span {
    border: 1px solid rgba(217, 0, 255, 0.699);
    background-color: rgba(218, 10, 255, 0.129);
} */

/* DEBUGGING */

* {
    box-sizing: border-box;
    transition-delay: 100ms;
}

html, 
body {
    height: 100%;
}

html {
    font-size: var(--base-font-size);
}

body {
    background-color: rgb(var(--major-bg));
    margin: 0;
    padding: 0;
    position: relative;
    color: white;
    font-family: var(--main-font);
    font-size: var(--small-font-size);
    overflow-x: hidden;
    cursor: default;
}

/* FOR GLOBAL USE */

.tile {
    position: relative;
    display: flex;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0);
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
    transition: all 200ms;
    cursor: pointer;
}
.tile:hover::before {
    opacity: 1;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0.7);
}
.tile:active::before {
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0.3);
}
.tile:active::before, .tile:active {
    transform: scale(0.98);
}
.tile::before {
    position: absolute;
    border-radius: inherit;
    top: 0; left: 0;
    width: calc(100% - 2*var(--tile-bd));
    height: calc(100% - 2*var(--tile-bd));
    content: "";
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.2),
        transparent 50%
    );
    user-select: none;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0);
    z-index: 1;
    transition: all 200ms;
    opacity: 0;
}

/* MAIN FRONT DIV */
.cover-div {
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cover-div::after {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(
        rgba(var(--major-bg), 1) 2%,
        rgba(var(--major-bg), 0.5) 50%,
        rgba(var(--major-bg), 1) 98%
    );
    z-index: -2;
}

#background-svg {
    height: 150vh;
    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;
    transform: translateX(-50px) translateY(-10%);
    animation: svg-motion 60s cubic-bezier(1, 0.9, 0.9, 1) infinite;
    opacity: 0;
    transition: all 300ms;
}

@keyframes svg-motion {
    50% {transform: translateX(-600px);}
 }

/* TOP BAR */
.top-bar {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: all 400ms;
}

#logo-container {
    padding: 4px;
    user-select: none;
    width: var(--logo-width);
    overflow: hidden;
    transition: width 400ms, opacity 500ms;
    display: flex;
    justify-content: flex-start;
}

#logoimg {
    height: 50px;
}

.top-bar-buttons {
    display: flex;
}

.social-button {
    display: flex;
    border: none;
    background-color: rgba(var(--white), 0);
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    transition: all 200ms;
    border-radius: 20%;
}

.social-button img {
    transition: all 200ms;
    width: 32px;
}

.social-button:hover {
    background-color: rgba(var(--white), 0.21);
}
.social-button:hover > img {
    transform: translateY(-2px);
}
.social-button:active, .social-button:active > img {
    transform: scale(0.96);
}

/* CONTENT */
.content * {
    transition: all 200ms;
}
.content {
    display: flex;
    padding: 4% 8%;
    font-size: var(--medium-font-size);
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    line-height: 1.2;
    cursor: default;
    transform: translateX(12rem);
    opacity: 0;
    transition: transform 500ms, opacity 600ms;
}

.content-title {
    font-size: var(--large-font-size);
    margin-bottom: 2rem;
    line-height: 1
}

#fullname {
    font-size: var(--largest-font-size);
    font-weight: 600;
    width: 100%;
    color: rgb(var(--sig-yellow));
    display: block;
}

.content-desc {
    opacity: 0;
    transition: opacity 600ms;
}

/* SKILLS SECTION */
.second-div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(var(--major-bg));
    min-height: 100vh;
    min-height: 100svh;
    padding: 2rem;
    line-height: 1;
    justify-content: center;
    align-items: center;
}

.second-div h1 {
    font-size: var(--larger-font-size);
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    opacity: 0;
    transition: all 300ms;
}

.decoration-bar {
    position: absolute;
    width: 30rem;
    background-color: rgba(var(--sig-orange), 0.5);
    height: 0.6rem;
    border-radius: 2rem;
    align-self: flex-start;
    transition: all 1500ms;
}

@keyframes pulse-length-neg {
    50% {transform: translateX(-9rem);}
}
@keyframes pulse-length-pos {
    50% {transform: translateX(9rem);}
}

#b2, #b4 {
    width: 20rem;
}

#b1, #b2 {
    top: 3rem;
    left: 0rem;
    opacity: 0;
    animation: pulse-length-neg 8s ease-in-out infinite;
}

#b2 {
    margin-top: 2rem;
    animation: pulse-length-neg 10s forwards infinite;
}

#b3, #b4 {
    bottom: 3rem;
    right: 0rem;
    opacity: 0;
    animation: pulse-length-pos 7s forwards infinite;
}

#b4 {
    margin-bottom: 2rem;
    animation: pulse-length-pos 11s forwards infinite;
}


#word-design {
    font-family: "Lora";
    font-style: italic;
    font-weight: lighter;
    overflow: hidden;
    font-size: var(--largest-font-size);
    color: rgb(var(--sig-yellow));
    display: block;
    margin-top: 20px;
    height: 13rem;
    opacity: 0;
    background-color: rgba(var(--sig-yellow), 0);
    transition: all 1000ms;
}

#word-into {
    display: block;
    margin-top: 1.7rem;
    margin-bottom: 1.4rem;
    transition: all 500ms;
    opacity: 0;
}

#word-code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: var(--largest-font-size);
    color: rgb(var(--sig-yellow));
}

#cursor {
    opacity: 1;
    visibility: hidden;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {opacity: 0}
}

/* third div */
.third-div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(var(--major-bg));
    min-height: 100vh;
    min-height: 100svh;
    overflow: hidden;
}

.third-div::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba(var(--major-bg), 0.7);
    z-index: 2;
}

#focus-title {
    flex-grow: 1;
    font-size: var(--larger-font-size);
    margin: 1rem;
    line-height: 1.2;
    text-align: center;
    transition: all 400ms;
    transition-delay: 200ms;
    font-family: "Lora";
    color: rgb(var(--sig-orange));
    transform: translateX(-4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.focus-div {
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    position: relative;
}

.focus-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.focus-item {
    font-size: var(--larger-font-size);
    display: block;
    transition: all 400ms;
    transition-delay: 200ms;
    opacity: 0;
    transform: translateY(-4rem);
}

.focus-visual {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shapes {
    position: relative;
    height: 10em;
    width: 10em;
    transition: all 300ms ease-out;
    transition-delay: 100ms;
    font-size: 2.5rem;
    animation: rotate-full 25s linear infinite;
}

@keyframes rotate-full {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}

.shape {
    position: absolute;
    border-radius: 0.5em;
    border: 0.1em solid rgb(var(--major-bg));
    transition: all 500ms;
    transition-delay: 150ms;
    background-color: rgb(var(--sig-yellow));
}

#shape1 {
    width: 6em; height: 4em;
}

#shape2 {
    width: 4em; height: 4em;
}

#shape3 {
    width: 3em; height: 2em;
}

#shape4 {
    width: 5em; height: 4em;
}

#shape5 {
    width: 3em; height: 4em;
}

#shape6 {
    width: 5em; height: 2em;
}

#shape7 {
    width: 2em; height: 6em;
}

/* #shape1 {background-color: cyan;} #shape2 {background-color: red;} #shape3 {background-color: orange;} #shape4 {background-color: green;} #shape5 {background-color: yellow;} #shape6 {background-color: blue;} #shape7 {background-color: coral;} */

/* skill summary */
.lang-div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.lang-item {
    align-self: center;
    padding: 1rem;
    justify-self: center;
    font-family: "Roboto Slab";
    font-size: var(--medium-font-size);
    color: rgb(var(--sig-orange));
    background-color: rgba(var(--sig-yellow), 0.14);
    border: 2px solid;
    border-radius: 1rem;
}

.tool-div h2 {
    font-size: var(--medium-font-size);
    margin: 0;
}

.tool-items {
    display: flex;
    gap: 1rem;
    color: rgb(var(--sig-red));
}

.tool-item {
    padding: 1rem;
    background-color: rgba(var(--major-bg), 0.7);
    border: 2px solid;
    border-radius: 1rem;
}

/* RESPONSIVE BEHAVIOUR */
@media (max-width: 550px) {
    :root {
        --base-font-size: 8px;
    }

    .focus-div {
        flex-direction: column;
    }
}