@font-face {
    font-family: 'Poppins';
    src: url('./resources/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('./resources/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./resources/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Lora';
    src: url('./resources/fonts/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Lora';
    src: url('./resources/fonts/Lora-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Lora';
    src: url('./resources/fonts/Lora-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

:root {
    --main-font: "Poppins", sans-serif;
    --second-font: "Lora";

    /* Dark Mode (Default) Colors */
    --text-color: 255, 255, 255;
    --major-bg: 56, 56, 56;
    --minor-bg: 80, 80, 80;
    
    /* primary, secondary, accent */
    --sig-yellow: 255, 200, 128;
    --sig-orange: 255, 167, 53;
    --sig-red: 255, 75, 75;

    --tile-bd: 2px;
    --tile-bd-col: 146, 146, 146;
    --tile-bg: 255, 255, 255;
    --lamp-shade-opacity: 0;

    /* Light Mode Colors */
    --text-color-light: 0, 0, 0;
    --major-bg-light: 255, 255, 255;
    --minor-bg-light: 210, 210, 210;
    --tile-bd-col-light: 146, 146, 146;
    --sig-orange-light: 240, 80, 0;
    --sig-yellow-light: 190, 40, 40;
    --sig-red-light: 255, 75, 75;
    --tile-bd-light: 2px;
    --tile-bg-light: 180, 180, 180;
    --lamp-shade-opacity-light: 1;

    --largest-font-size: 8rem;
    --larger-font-size: 6rem;
    --large-font-size: 4rem;
    --medium-font-size: 2.4rem;
    --small-font-size: 2.1rem;
    --smaller-font-size: 1.8rem;
    --smallest-font-size: 1.5rem;
    --tiny-font-size: 1.2rem;

    --base-font-size: 12px;
    /* 10:5:3:2:1.33 */
}

/* Light Mode Theme */
.light-mode {
    --text-color: var(--text-color-light);
    --major-bg: var(--major-bg-light);
    --minor-bg: var(--minor-bg-light);
    --tile-bd-col: var(--tile-bd-col-light);
    --sig-orange: var(--sig-orange-light);
    --sig-yellow: var(--sig-yellow-light);
    --sig-red: var(--sig-red-light);
    --tile-bd: var(--tile-bd-light);
    --tile-bg: var(--tile-bg-light);
    --lamp-shade-opacity: var(--lamp-shade-opacity-light);
}  

/* DEBUGGING */

/* div {
    border: 1px solid rgba(0, 255, 106, 0.573);
    background-color: rgba(0, 217, 255, 0.02);
}
img {
    border: 1px solid rgba(225, 255, 0, 0.573);
    background-color: rgba(255, 251, 0, 0.1);
}
span {
    border: 1px solid rgba(217, 0, 255, 0.699);
    background-color: rgba(218, 10, 255, 0.129);
} */

/* DEBUGGING */

* {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    font-size: var(--base-font-size);
    scroll-behavior: smooth;
}

body {
    background-color: rgb(var(--major-bg));
    margin: 0;
    padding: 0;
    position: relative;
    color: rgb(var(--text-color));
    font-family: var(--main-font);
    font-size: var(--small-font-size);
    font-weight: 400;
    overflow-x: hidden;
}

body div, body {
    transition: background-color 0ms;
}

/* FOR GLOBAL USE */
.gold {
    color: rgb(var(--sig-yellow));
    font-weight: bold;
}

.tile {
    position: relative;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0);
    border-radius: 12px;
    transition: all 200ms;
}
.tile:hover::before {
    opacity: 1;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0.7);
}
.tile:active::before {
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0.5);
}
.tile:active::before, .tile:active {
    transform: scale(0.98);
}
.tile::before {
    position: absolute;
    border-radius: inherit;
    top: -1; left: -1;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0);
    width: calc(100% - 2*var(--tile-bd));
    height: calc(100% - 2*var(--tile-bd));
    content: "";
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(var(--tile-bg), 0.20),
        transparent 50%
    );
    z-index: 1;
    transition: all 200ms;
    opacity: 0;
}

/* MAIN FRONT DIV */
.cover-div {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cover-div::after {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(
        rgba(var(--major-bg), 1) 2%,
        rgba(var(--major-bg), 0.7) 50%,
        rgba(var(--major-bg), 1) 98%
    );
    z-index: -2;
}

#background-svg {
    height: 1000px;
    object-fit: cover;
    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;
    transition: opacity 500ms, rotate 700ms, scale 700ms;
    transform: translateX(-50px) translateY(-10%);
    animation: svg-motion 60s cubic-bezier(1, 0.9, 0.9, 1) infinite;
    opacity: 0;
    user-select: none;
}

@keyframes svg-motion {
    50% {transform: translateX(-600px);}
 }

/* TOP BAR */
.top-bar {
    padding: 6px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: transform 800ms, box-shadow 800ms, background-color 800ms;
    position: fixed;
    border-bottom: 2px solid rgba(var(--text-color), 0.1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    top: 0;
    z-index: 100;
}

#logo-container {
    padding: 4px;
    overflow: hidden;
    transition: transform 400ms, opacity 500ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

#logoimg {
    height: 50px;
    z-index: 20;
}

#logotext {
    font-size: 30px;
    transform: translateX(0);
    transform-origin: left;
    z-index: -10;
    transition: transform 600ms, opacity 300ms;
    padding: 0px 4px;
}

.theme-switch-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    padding: 24px 24px 28px 24px;
    border: 2px solid rgba(var(--tile-bd-col), 0.7);
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: #565656;
    transition: border-color 100ms, box-shadow 100ms;
    cursor: pointer;
}
.theme-switch-div:hover {
    border-color: rgba(255, 93, 73, 0.9);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8), 0px 0px 8px rgb(255, 93, 73), inset 0px 0px 4px rgb(var(--sig-orange));
}

.theme-switch-div #theme-switch-button {
    position: absolute;
}

.lamp-string {
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-12px)
}
.string-pulled-down {
    transform: translateY(0px);
}

.lamp-body {
    transition: opacity 200ms;
    opacity: var(--lamp-shade-opacity);
}

.top-bar-buttons {
    display: flex;
    align-self: stretch;
}

.nav-button {
    display: flex;
    border: none;
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: rgb(var(--text-color));
    font-size: 18px;
    font-family: "Poppins", "Calibri";
    padding: 1rem;
    cursor: pointer;
    transition: color 300ms;
}

.nav-button:hover {
    color: rgb(var(--sig-yellow));
}
.nav-button:active {
    color: rgba(var(--sig-yellow), 0.4);
}

/* COVER DIV CONTENT */
.content {
    display: flex;
    padding: 4% 8%;
    font-size: var(--small-font-size);
    align-items: center;
    justify-content: left;
    flex-grow: 1;
    line-height: 1.2;
    transform: translateX(12rem);
    opacity: 0;
    transition: transform 500ms, opacity 600ms;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.content-title {
    font-size: var(--large-font-size);
    margin-bottom: 2rem;
    line-height: 1;
    user-select: none;
    transition: color 0ms
}

#fullname {
    font-size: var(--largest-font-size);
    width: 100%;
    color: rgb(var(--sig-yellow));
    display: block;
    letter-spacing: -2px;
    user-select: text;
    text-shadow: 0px 0px 8px rgba(var(--sig-yellow), 0.6);
}

.content-desc {
    opacity: 0;
    transition: opacity 600ms;
    max-width: 800px;
}

/* SKILLS SECTION */
.second-div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(var(--major-bg));
    min-height: 90vh;
    min-height: 90svh;
    padding: 2rem;
    line-height: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.second-div h1 {
    font-size: var(--large-font-size);
    font-weight: 400;
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    opacity: 0;
    transition: font-size 300ms;
}

.decoration-bar {
    position: absolute;
    width: 30rem;
    background-color: rgba(var(--sig-orange), 0.5);
    height: 0.6rem;
    border-radius: 2rem;
    align-self: flex-start;
    transition: opacity 1500ms;
}

@keyframes pulse-length-neg {
    50% {transform: translateX(-4rem);}
}
@keyframes pulse-length-pos {
    50% {transform: translateX(4rem);}
}

#b2, #b4 {
    width: 20rem;
}

#b1, #b2 {
    top: 3rem;
    left: 0rem;
    opacity: 0;
    animation: pulse-length-neg 8s ease-in-out infinite;
}

#b2 {
    margin-top: 2rem;
    animation: pulse-length-neg 10s forwards infinite;
}

#b3, #b4 {
    bottom: 3rem;
    right: 0rem;
    opacity: 0;
    animation: pulse-length-pos 7s ease-in-out infinite;
}

#b4 {
    margin-bottom: 2rem;
    animation: pulse-length-pos 11s forwards infinite;
}

#second-h1 {
    transition: opacity 300ms;
}

#word-design {
    font-family: var(--second-font);
    font-style: italic;
    font-weight: 500;
    overflow: hidden;
    font-size: var(--largest-font-size);
    color: rgb(var(--sig-yellow));
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 2rem 4rem;
    opacity: 0;
    transition: all 1000ms;
}
#word-design span {
    transform: translateY(-10%);
}
#word-design:hover{
    text-shadow: 0 0 8px rgba(var(--sig-orange), 0.6), 0 0 12px rgba(255, 255, 255, 0.4), 0 0 14px rgba(255, 255, 255, 0.2);
}

#word-into {
    display: block;
    margin-top: 1.7rem;
    margin-bottom: 1.4rem;
    transition: font-size 100ms, opacity 300ms;
    opacity: 0;
}

#word-code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: var(--largest-font-size);
    color: rgb(var(--sig-yellow));
}

#cursor {
    opacity: 1;
    visibility: hidden;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {opacity: 0}
}
/* myself div */
.myself-div {
    background-color: rgb(var(--minor-bg));
    /* border: 8px double rgba(var(--sig-yellow), 0.5); */
    border-left: none;
    border-right: none;
    /* box-shadow: 0px 0px 16px 4px rgba(var(--major-bg), 1) inset; */
    min-height: 90vh;
    min-height: 90svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem
}

.myself-container {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 4rem
}

.myself-photo {
    width: 256px;
    min-height: 128px;
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: content-box;
    border-radius: 24px;
    border: 3px solid rgba(var(--sig-orange), 0.6);
    background-color: rgba(var(--sig-orange), 0.15);
}

.myself-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.myself-details {
    font-size: var(--smaller-font-size);
    max-width: 600px;
}
.myself-details .myself-title {
    margin: 0;
    margin-bottom: 2rem;
    font-size: var(--large-font-size);
    line-height: 1;
}
.myself-details li {
    line-height: 1.2;
    margin-bottom: 8px;
}


/* Skills Div */
.skills-div {
    background-color: rgb(var(--major-bg));
    display: flex;
    justify-content: center;
    padding: 4rem 1rem
}

.donut-chart {
    --side-length: 80px;
    --chart-width: 4px;
    --chart-width-neg: -4px;
    --chart-fg: rgb(var(--sig-orange));
    --chart-bg: transparent;
    --deg: 0deg;

    position: relative;
    box-sizing: border-box;
    width: var(--side-length);
    height: var(--side-length);
    padding: 8px;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: var(--chart-width) solid var(--chart-bg);
    transform: rotateZ(-45deg);
}
.donut-content {
    transform: rotateZ(45deg);
    display: flex;
    height: 140%;
    min-width: 120%;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.perc-label {
    position: absolute;
    display: flex;
    line-height: 1;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
    scale: 1 1.2;
    color: rgb(var(--sig-yellow));
    text-shadow: 0px 0px 4px rgba(var(--sig-yellow), 0.5);
    transform: translate(130%, 0px);
    transition: transform 600ms;
}
.donut-chart::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: calc(100%);
    width: calc(100%);
    translate: var(--chart-width-neg) var(--chart-width-neg);
    border-radius: 50%;
    border: var(--chart-width) solid transparent;
    border-color: var(--chart-fg) transparent transparent transparent;
    transform: rotateZ(var(--deg));
}

.donut-chart.first {
    border-color: var(--chart-bg) var(--chart-fg) var(--chart-bg) var(--chart-bg);
}
.donut-chart.second {
    border-color: var(--chart-bg) var(--chart-fg) var(--chart-fg) var(--chart-bg);
}
.donut-chart.third {
    border-color: var(--chart-bg) var(--chart-fg) var(--chart-fg) var(--chart-fg);
}

.skills-divisions {
    display: grid;
    justify-content: stretch;
    gap: 1rem;
    padding: 2rem;
    font-size: var(--smallest-font-size);
    width: 1024px;
}

.skills-title {
    text-align: center;
    letter-spacing: -1px;
}

.main-skills {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-skills-div {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem;
}
.main-skill-card {
    display: flex;
    border: 2px solid rgba(var(--sig-yellow), 0.6);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    background-color: rgba(var(--minor-bg), 0.5);
    border-radius: 16px;
    padding: 1rem;
    gap: 2rem;
    max-width: 400px;
    transition: all 300ms;
}
.main-skill-card:hover {
    box-shadow: 0px 0px 16px 0px rgba(var(--sig-yellow), 0.2);
    background-color: rgba(var(--sig-yellow), 0.1);
    border: 2px solid rgba(var(--sig-yellow), 1);
    translate: 0px -4px
}
.ms-icon {
    height: 96px; min-width: 96px;
    width: 96px;
    align-self: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms-img {
    width: 100%;
    height: auto;
}
.ms-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}
.ms-name {
    margin: 0;
    line-height: 1.4;
    color: rgb(var(--sig-yellow));
    font-size: var(--smaller-font-size);
}
.ms-desc {
    font-size: 14px;
    display: block;
    line-height: 1.3;
}

.know-skills-div {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.know-skills-langs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 2rem;
    border-right: 1px solid rgba(var(--text-color), 0.6);
}
.ks-lang-container {
    position: relative;
}
.ks-lang {
    --chart-fg: rgba(var(--sig-orange), 1);
    --chart-bg: rgb(var(--minor-bg));
    transition: all 300ms;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4) inset;
    cursor: pointer;
}
.ks-lang span {
    z-index: 2;
}
.ks-lang::after {
    transition: all 300ms;
}
.ks-lang:hover ~ .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translate(8px, -50%);
}
.ks-lang:hover .kl-img {
    translate: -150%
}
.ks-lang:hover .perc-label {
    transform: translate(0, 0);
}

.kl-img {
    width: 42px;
    border-radius: 8px;
    transition: translate 600ms;
}

.tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    top: 50%;
    left: 100%;
    transform: translate(-8px, -50%);
    visibility: hidden;
    background-color: rgb(11, 11, 11);
    color: rgb(240, 240, 240);
    padding: 4px 8px;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 2px 2px 8px black;
    transition: transform 300ms, opacity 300ms;
    pointer-events: none;
    z-index: 5
}

.know-skills-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.know-skills-inner, .touch-skills-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: fit-content
}

.skill-card {
    width: 84px; height: 84px;
    padding: 8px; 
    border-radius: 8px;
    border: 2px solid rgba(77, 77, 77, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border 300ms, scale 400ms;
}
.skill-card:hover {
    scale: 1.1
}
.skill-card.ks:hover {
    border: 2px solid rgba(var(--sig-yellow), 0.9);
}
.skill-card.ts:hover {
    border: 2px solid rgba(var(--text-color), 0.9);
}
.skill-img {
    width: 90%;
    height: auto;
}
.ks-info, .ts-info {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -8px);
    text-align: center;
    min-width: 100%;
    width: max-content;
    max-width: 150px;
}

.skill-card-container {
    position: relative;
}
.skill-card-container:hover > .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 4px);
}

.touch-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* about me div */
:root {
    --aboutme-gradient: linear-gradient(25deg, rgba(var(--sig-yellow), 1) 0%, rgba(var(--sig-red), 0.4) 100%);
    --aboutme-fallback: var(--sig-yellow);
}

.aboutme-div {
    min-height: 100vh;
    min-height: 100svh;
    background: var(--aboutme-fallback);
    background: var(--aboutme-gradient);
    box-shadow: 0px 0px 24px rgba(67, 31, 2, 0.934) inset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 2rem;
    gap: 4rem;
    overflow-x: hidden;
}

.aboutme-div-title {
    font-size: var(--large-font-size);
    text-align: center;
    line-height: 1;
    margin: 0;
    opacity: 0;
    transform: translateX(-10%);
    transition: transform 600ms, opacity 600ms;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

.aboutme-cards-div {
    display: grid;
    width: 100%;
    grid-gap: 4rem;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(min-content, 500px));
}

.aboutme-card {
    background: rgba(var(--major-bg), 0.8);
    background: linear-gradient(
        rgba(var(--minor-bg), 0.7) 0%,
        rgba(var(--major-bg), 0.8) 100%
    );
    border: 2px solid rgba(var(--sig-yellow), 0.5);
    border-radius: 1.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 3rem 3rem;
    gap: 2rem;
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 500ms, transform 500ms, box-shadow 500ms, border 300ms;
}
.aboutme-card.card-fade-in {
    opacity: 1;
    transform: translateY(0rem);
}
.light-mode *> .aboutme-card {
    background: linear-gradient(
        rgba(var(--major-bg), 0.9) 0%,
        rgba(var(--major-bg), 0.9) 100%
    );
}
.aboutme-card:hover {
    transform: scale(1.02);
    border: 2px solid rgb(var(--sig-yellow));
}

.aboutme-icon svg, .aboutme-icon {
    height: 8rem;
    width: 8rem;
}
.aboutme-icon {
    min-width: 8rem;
}
.aboutme-icon {
    position: relative;
    align-self: flex-start;
}

.aboutme-icon .fill-ele{
    fill: rgb(var(--sig-yellow));
}
.aboutme-icon .border-ele{
    stroke: rgb(var(--sig-yellow))
}

@keyframes bobby {
    10% {transform: translateY(0%) scaleY(1);}
    20% {transform: translateY(2%) scaleY(1);}
    27% {transform: translateY(-2%) scaleY(1);}
    34% {transform: translateY(2%) scaleY(1);}
    41% {transform: translateY(-2%) scaleY(1);}
    48% {transform: translateY(2%) scaleY(1);}
    55% {transform: translateY(0%) scaleY(1);}
}

.aboutme-card:hover *> .move-it {
    animation: bobby 3s linear infinite
}

@keyframes move-shape-BL {
    0% {transform: translate(0%, 0%);}
    40% {transform: translate(-6.3%, 7%)}
    60% {transform: translate(-6.3%, 7%)}
    100% {transform: translate(0%, 0%);}
}
@keyframes move-shape-TR {
    0% {transform: translate(0%, 0%);}
    40% {transform: translate(6.28%, -7%)}
    60% {transform: translate(6.28%, -7%)}
    100% {transform: translate(0%, 0%);}
}
.aboutme-card:hover *> #modern-icon-part {
    animation: move-shape-BL forwards 3s infinite;
}
.aboutme-card:hover *> #modern-icon-whole {
    animation: move-shape-TR forwards 3s infinite;
}

@keyframes blink-eye {
    15% {transform: scaleY(1);}
    20% {transform: scaleY(0.1);}
    25% {transform: scaleY(1);}
}
#eye {
    transform-origin: 50% 40%
}
.aboutme-card:hover *> #eye {
    animation: blink-eye 2s infinite;
}

@keyframes full-rotation {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

#wheel-1 {
    position: absolute;
    height: 4rem; width: 4rem;
}
.aboutme-card:hover *> #wheel-1 {
    animation: full-rotation 8s linear infinite;
}
#wheel-2 {
    position: absolute;
    height: 3.5rem; width: 3.5rem;
    right: 8%; top: 30%;
}
.aboutme-card:hover *> #wheel-2 {
    animation: full-rotation 6s linear reverse infinite;
}
#wheel-3 {
    position: absolute;
    height: 3rem; width: 3rem;
    bottom: 0; left: 17%;
}
.aboutme-card:hover *> #wheel-3 {
    animation: full-rotation 4s linear infinite
}

.aboutme-title {
    font-size: var(--small-font-size);
    align-self: flex-start;
    font-family: var(--second-font), var(--main-font), "Calibri";
    font-weight: 600;
    color: rgb(var(--sig-yellow));
    text-shadow: 0px 0px 8px rgba(255, 200, 128, 0.4);
}

.aboutme-desc {
    font-size: var(--smallest-font-size);
    font-weight: 400;
    margin-top: 12px;
    display: flex;
    align-items: baseline;
    text-align: left
}

/* ARTISTIC TRIFECTA DIV */
.trifecta-div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(var(--major-bg));
    min-height: 90vh;
    min-height: 90svh;
    overflow: hidden;
    padding-top: 4rem
}

#trifecta-title {
    flex-grow: 1;
    font-size: var(--large-font-size);
    margin: 1rem;
    line-height: 1.2;
    text-align: center;
    transition: transform 400ms, opacity 400ms;
    transition-delay: 100ms;
    color: rgb(var(--sig-yellow));
    font-weight: 400;
    transform: translateX(-4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 8px rgba(var(--sig-yellow), 0.6);
    opacity: 0;
}

.trifecta-content-div {
    flex-grow: 8;
    display: flex;
    flex-direction: row;
    position: relative;
}

.trifecta-text {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: width 300ms
}
.trifecta-item {
    font-size: var(--larger-font-size);
    display: block;
    transition: font-size 400ms, opacity 400ms, transform 400ms;
    opacity: 0;
    transform: translateY(-4rem);
    cursor: default;
}

.trifecta-item span {
    display: inline-block;
    transition: transform 400ms, color 400ms;
    transition-delay: 100ms;
    font-family: 'Lora', 'Times New Roman', Times, serif;
}

#hover-help {
    color:rgba(var(--text-color), 0.4);
    opacity: 0;
    transition: opacity 300ms
}

.trifecta-visual {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 300ms;
}

.shapes {
    position: relative;
    height: 1em;
    width: 1em;
    transition: transform 300ms ease-out, scale 300ms;
    transition-delay: 100ms;
    font-size: 2.2rem;
    animation: rotate-full 25s linear infinite;
}

@keyframes rotate-full {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.shape {
    position: absolute;
    border-radius: 0.5em;
    border: 0.1em solid rgb(var(--major-bg));
    transition: all 500ms, border-color 0ms, opacity 200ms;
    transition-delay: all 100ms, border-color 0ms;
    background-color: rgb(var(--minor-bg));
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.2);
}

#shape1 {
    width: 6em; height: 4em; z-index: 2;
    transform: translate(-5rem, -5rem);
}

#shape2 {
    width: 4em; height: 4em;
    transform: translate(-5rem, -5rem);
}

#shape3 {
    width: 3em; height: 2em;
    transform: translate(-5rem, -5rem);
}

#shape4 {
    width: 5em; height: 4em;
    transform: translate(-5rem, -5rem);
}

#shape5 {
    width: 3em; height: 4em;
    transform: translate(-5rem, -5rem);
}

#shape6 {
    width: 5em; height: 2em;
    transform: translate(-5rem, -5rem);
}

#shape7 {
    width: 2em; height: 6em;
    transform: translate(-1rem, -7rem);
}

/* #shape1 {background-color: cyan;} #shape2 {background-color: red;} #shape3 {background-color: orange;} #shape4 {background-color: green;} #shape5 {background-color: yellow;} #shape6 {background-color: blue;} #shape7 {background-color: coral;} */

/* CONTACT DIV */
.social-button {
    display: flex;
    border: none;
    background-color: rgba(var(--text-color), 0);
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 20%;
}

.social-button svg {
    width: 32px;
    transition: transform 200ms;
}
.social-button svg * {
    fill: rgb(var(--text-color));
}

.social-button:hover {
    background-color: rgba(var(--text-color), 0.21);
}
.social-button:hover > svg {
    transform: translateY(-2px);
}
.social-button:active > svg {
    transform: scale(0.96);
}

