:root {
    --main-font: "Poppins", sans-serif;

    /* Dark Mode (Default) Colors */
    --white: 255, 255, 255;
    --major-bg: 56, 56, 56;
    --minor-bg: 80, 80, 80;
    --tile-bd-col: 146, 146, 146;
    --sig-orange: 255, 167, 53;
    --sig-yellow: 255, 200, 128;
    --sig-red: 255, 75, 75;
    --tile-bd: 2px;

      /* Light Mode Colors */
    --white-light: 0, 0, 0;
    --major-bg-light: 255, 255, 255;
    --minor-bg-light: 210, 210, 210;
    --tile-bd-col-light: 146, 146, 146;
    --sig-orange-light: 240, 80, 0;
    --sig-yellow-light: 200, 40, 40;
    --sig-red-light: 255, 75, 75;
    --tile-bd-light: 2px;

    --largest-font-size: 10rem;
    --larger-font-size: 7.5rem;
    --large-font-size: 5rem;
    --medium-font-size: 3rem;
    --small-font-size: 2rem;
    --smallest-font-size: 1.33rem;

    --base-font-size: 12px;
    /* 10:5:3:2:1.33 */
}

/* Light Mode Theme */
.light-mode {
    --white: var(--white-light);
    --major-bg: var(--major-bg-light);
    --minor-bg: var(--minor-bg-light);
    --tile-bd-col: var(--tile-bd-col-light);
    --sig-orange: var(--sig-orange-light);
    --sig-yellow: var(--sig-yellow-light);
    --sig-red: var(--sig-red-light);
    --tile-bd: var(--tile-bd-light);
}  

/* DEBUGGING */

/* div {
    border: 1px solid rgba(0, 255, 106, 0.573);
    background-color: rgba(0, 217, 255, 0.02);
}
img {
    border: 1px solid rgba(225, 255, 0, 0.573);
    background-color: rgba(255, 251, 0, 0.1);
}
span {
    border: 1px solid rgba(217, 0, 255, 0.699);
    background-color: rgba(218, 10, 255, 0.129);
} */

/* DEBUGGING */

* {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    font-size: var(--base-font-size);
}

body {
    background-color: rgb(var(--major-bg));
    margin: 0;
    padding: 0;
    position: relative;
    color: rgb(var(--white));
    font-family: var(--main-font);
    font-size: var(--small-font-size);
    cursor: default;
}

body div, body {
    transition: background-color 0ms;
}

/* FOR GLOBAL USE */

.tile {
    position: relative;
    display: flex;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0);
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
    transition: all 200ms;
    cursor: pointer;
}
.tile:hover::before {
    opacity: 1;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0.7);
}
.tile:active::before {
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0.3);
}
.tile:active::before, .tile:active {
    transform: scale(0.98);
}
.tile::before {
    position: absolute;
    border-radius: inherit;
    top: 0; left: 0;
    width: calc(100% - 2*var(--tile-bd));
    height: calc(100% - 2*var(--tile-bd));
    content: "";
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(var(--white), 0.20),
        transparent 50%
    );
    user-select: none;
    border: var(--tile-bd) solid rgba(var(--tile-bd-col), 0);
    z-index: 1;
    transition: all 200ms;
    opacity: 0;
}

/* MAIN FRONT DIV */
.cover-div {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cover-div::after {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(
        rgba(var(--major-bg), 1) 2%,
        rgba(var(--major-bg), 0.5) 50%,
        rgba(var(--major-bg), 1) 98%
    );
    z-index: -2;
}

#background-svg {
    height: 150vh;
    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;
    transform: translateX(-50px) translateY(-10%);
    animation: svg-motion 60s cubic-bezier(1, 0.9, 0.9, 1) infinite;
    opacity: 0;
}

@keyframes svg-motion {
    50% {transform: translateX(-600px);}
 }

/* TOP BAR */
.top-bar {
    padding: 4px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: transform 800ms, box-shadow 800ms;
    position: fixed;
    border-bottom: 2px solid rgba(var(--white), 0.1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    top: 0;
    z-index: 100;
}

#logo-container {
    padding: 4px;
    user-select: none;
    overflow: hidden;
    transition: width 800ms, opacity 500ms;
    display: flex;
    justify-content: flex-start;
}

#logoimg {
    height: 50px;
    z-index: 20;
}

#logotext {
    font-size: 30px;
    transform: translateX(0);
    transform-origin: left;
    z-index: -10;
    transition: transform 600ms, opacity 300ms;
    padding: 0px 4px;
}

.top-bar-buttons {
    display: flex;
}

.social-button {
    display: flex;
    border: none;
    background-color: rgba(var(--white), 0);
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 20%;
}

.social-button img {
    width: 32px;
    transition: transform 200ms;
}

.social-button:hover {
    background-color: rgba(var(--white), 0.21);
}
.social-button:hover > img {
    transform: translateY(-2px);
}
.social-button:active, .social-button:active > img {
    transform: scale(0.96);
}

/* CONTENT */
.content * {
    transition: all 200ms;
}
.content {
    display: flex;
    padding: 4% 8%;
    font-size: var(--medium-font-size);
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    line-height: 1.2;
    cursor: default;
    transform: translateX(12rem);
    opacity: 0;
    transition: transform 500ms, opacity 600ms;
}

.content-title {
    font-size: var(--large-font-size);
    margin-bottom: 2rem;
    line-height: 1
}

#fullname {
    font-size: var(--largest-font-size);
    font-weight: 600;
    width: 100%;
    color: rgb(var(--sig-yellow));
    display: block;
}

.content-desc {
    opacity: 0;
    transition: opacity 600ms;
}

/* SKILLS SECTION */
.second-div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(var(--major-bg));
    min-height: 90vh;
    min-height: 90svh;
    padding: 2rem;
    line-height: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.second-div h1 {
    font-size: var(--large-font-size);
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    opacity: 0;
    transition: font-size 300ms;
}

.decoration-bar {
    position: absolute;
    width: 30rem;
    background-color: rgba(var(--sig-orange), 0.5);
    height: 0.6rem;
    border-radius: 2rem;
    align-self: flex-start;
    transition: opacity 1500ms;
}

@keyframes pulse-length-neg {
    50% {transform: translateX(-4rem);}
}
@keyframes pulse-length-pos {
    50% {transform: translateX(4rem);}
}

#b2, #b4 {
    width: 20rem;
}

#b1, #b2 {
    top: 3rem;
    left: 0rem;
    opacity: 0;
    animation: pulse-length-neg 8s ease-in-out infinite;
}

#b2 {
    margin-top: 2rem;
    animation: pulse-length-neg 10s forwards infinite;
}

#b3, #b4 {
    bottom: 3rem;
    right: 0rem;
    opacity: 0;
    animation: pulse-length-pos 7s ease-in-out infinite;
}

#b4 {
    margin-bottom: 2rem;
    animation: pulse-length-pos 11s forwards infinite;
}


#word-design {
    font-family: "Lora";
    font-style: italic;
    font-weight: lighter;
    overflow: hidden;
    font-size: var(--largest-font-size);
    color: rgb(var(--sig-yellow));
    display: block;
    margin-top: 20px;
    height: 13rem;
    padding: 0rem 4rem;
    opacity: 0;
    transition: all 1000ms;
}
#word-design:hover{
    text-shadow: 0 0 8px rgba(var(--sig-orange), 0.6), 0 0 12px rgba(255, 255, 255, 0.4), 0 0 14px rgba(255, 255, 255, 0.2);
}

#word-into {
    display: block;
    margin-top: 1.7rem;
    margin-bottom: 1.4rem;
    transition: font-size 100ms;
    opacity: 0;
}

#word-code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: var(--largest-font-size);
    color: rgb(var(--sig-yellow));
}

#cursor {
    opacity: 1;
    visibility: hidden;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {opacity: 0}
}

 /* about me div */
.aboutme-div {
    
}

/* third div */
.third-div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(var(--major-bg));
    min-height: 90vh;
    min-height: 90svh;
    overflow: hidden;
}

#focus-title {
    flex-grow: 1;
    font-size: var(--large-font-size);
    margin: 1rem;
    line-height: 1.2;
    text-align: center;
    transition: all 400ms;
    transition-delay: 100ms;
    color: rgb(var(--sig-yellow));
    font-weight: lighter;
    letter-spacing: 0.5rem;
    transform: translateX(-4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    opacity: 0;
}

.focus-div {
    flex-grow: 8;
    display: flex;
    flex-direction: row;
    position: relative;
}

.focus-text {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: width 300ms
}
.focus-item {
    font-size: var(--larger-font-size);
    display: block;
    transition: font-size 400ms, opacity 400ms, transform 400ms;
    opacity: 0;
    transform: translateY(-4rem);
}

.focus-item span {
    display: inline-block;
    transition: transform 400ms, color 400ms;
    transition-delay: 100ms;
}

#hover-help {
    color:rgba(var(--white), 0.4);
    opacity: 0;
    transition: opacity 300ms
}

.focus-visual {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 300ms;
}

.shapes {
    position: relative;
    height: 1em;
    width: 1em;
    transition: transform 400ms ease-out, scale 300ms;
    transition-delay: 100ms;
    font-size: 2.2rem;
    animation: rotate-full 25s linear infinite;
    scale: 0;
}

@keyframes rotate-full {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.shape {
    position: absolute;
    border-radius: 0.5em;
    border: 0.1em solid rgb(var(--major-bg));
    transition: all 500ms, background-color 400ms, border-color 0ms, opacity 200ms;
    transition-delay: all 100ms, border-color 0ms;
    background-color: rgb(var(--minor-bg));
}

#shape1 {
    width: 6em; height: 4em; z-index: 2;
}

#shape2 {
    width: 4em; height: 4em;
}

#shape3 {
    width: 3em; height: 2em;
}

#shape4 {
    width: 5em; height: 4em;
}

#shape5 {
    width: 3em; height: 4em;
}

#shape6 {
    width: 5em; height: 2em;
}

#shape7 {
    width: 2em; height: 6em;
}

/* #shape1 {background-color: cyan;} #shape2 {background-color: red;} #shape3 {background-color: orange;} #shape4 {background-color: green;} #shape5 {background-color: yellow;} #shape6 {background-color: blue;} #shape7 {background-color: coral;} */

/* RESPONSIVE BEHAVIOUR */
@media (max-width: 550px) {
    :root {
        --base-font-size: 8px;
    }

    .third-div {
        min-height: 80vh;
        min-height: 80svh;
    }

    .third-div::after {
        background-color: rgba(var(--major-bg), 0.8);
    }

    .focus-div {
        flex-direction: column;
    }

    .focus-text {
        flex-grow: 1;
        width: 100%;
    }

    .focus-visual {
        transition: width 300ms;
        width: 100%;
    }

    #b1, #b2, #b3, #b4 {animation: none}
}