/* Main Content */
.content {
    background-color: rgb(46, 28, 10);
    height: 100%;
}

.content #contenttable {
    table-layout: fixed;
    width:100%;
}

.content #contenttable td {
    width:50%;
    overflow-y: auto;
}

/* Home description */
.content #homedescell {
    border-right: 2px solid rgba(100, 82, 61, 0.3);
    background: url(https://user-images.githubusercontent.com/68178267/161711885-76550caf-75a7-4649-a2c0-3ee0403348b1.png) rgba(46, 28, 10, 0.82);
    background-position: top;
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 500px;
}

.content #homedescription {
    width:100%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom: 2px solid rgba(100, 82, 61, 0.3);
}

.content #homedescription h1 {
    text-align: center;
    color:rgb(192, 146, 94)
}

.content #homedescription h2 {
    text-align: center;
    font-family: 'Times New Roman';
    font-style: italic;
}

.content #homedescription #listspec {
    padding-left: 15%;
    font-size: 18px;
    font-style: italic;
}

/* Feedback division */
.content #feedbackdiv #feedbackbutton {
    color:rgb(243, 195, 136);
    background-color: rgb(100, 82, 61);
    border-color: rgb(243, 195, 136);
    margin-left: 15%;
    margin-bottom: 10px;
    margin-top: 5%;
}

#feedbackform {
    display: none;
}

#feedbackform:target {
    display: block;
}

.content #feedbackdiv #feedbacktable {
    margin-left: 5%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgb(47, 37, 25);
    border: 2px solid rgba(192, 146, 94, 0.3);
    padding: 4% 2% 1% 2%;
}

.content #feedbackdiv #feedbacktable td {
    width: 1px;
    overflow: hidden;
}

#nameinput, #emailinput, #feedbackinput {
    background-color: rgb(243, 195, 136);
    color:rgb(46, 28, 10);
    font-family: "Calibri";
    font-size: 15px;
    border-width: 1px;
    width: 80%;
    margin-right: 20px;
}

#feedbacklabel {
    text-align: top;
}
#feedbackinput {
    resize: none;
    height: 100px;
}
#feedbacksubmit, #feedbackreset {
    background-color: rgb(100, 66, 28);
    color: rgb(243, 195, 136);
    font-weight: bold;
    border-color: rgb(192, 146, 94);
    border-width: 1px;
}
