@font-face {
    font-family: SegoeUI;
    src: url("./index-designs/segoeuil.ttf");
}
html{
    height: 100%;
}

body, p {
    margin: 0;
    padding: 0;
}

#div-main {
    color: black;
    font-family: "SegoeUI";
}

.div-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.2rem;
    background: linear-gradient(145deg,
                rgba(226, 226, 255, 0.9) 0%, 
                rgba(231, 231, 255, 0.9) 20%, 
                rgba(239, 226, 255, 0.9) 40%, 
                rgba(255, 215, 234, 0.9) 60%, 
                rgba(254, 227, 206, 0.9) 80%, 
                rgba(250, 226, 164, 0.9) 100%);
    backdrop-filter: blur(10px);
    position: sticky; top: 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.206);
}

#logo-image {
    height: 3.4rem;
    padding-left: .3rem;
    transition: height 400ms;
    overflow: visible;
}
.nav-bar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    margin: 0px 15px;
    transition: color 0.3s, border-color 0.3s,
    font-size 0.4s, padding-bottom 0.4s;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    border-color: rgba(125, 0, 92, 0);
}
.nav-bar {transition: height 200ms;}
.nav-bar a:hover {
    color: rgb(125, 0, 92, 1);
    border-color: rgb(125, 0, 92, 1);
}

#link-home {
    color: rgba(125, 0, 92, 1);
    border-color: rgba(125, 0, 92, 1);
}

.menu-icon {
    position: absolute;
    top: .6rem;
    right: 0;
    margin-right: 0.6rem;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 0px;
    transition: width 400ms;
    height: 26px;
    cursor: pointer;
}

.menu-icon .icon-bar {
    height: 0.4rem;
    width: 100%;
    background: linear-gradient(
    rgba(64, 0, 104, 0.9) 0%, 
    rgba(136, 4, 19, 0.9) 100%);
    border-radius: 20px;
}

#main-category {
    background: linear-gradient(45deg, rgb(71, 0, 119) 0%, rgb(177, 0, 47) 100%);
    padding: 3rem 2rem;
    margin-bottom: 1rem;
}

.main-title {
    font-size: 3rem;
    color: rgba(255, 192, 55, 0.9);
    margin-bottom: 0.8rem;
    transition: font-size 300ms;
}
.main-description {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
}

.subcategory {
    padding-left: 1rem;
    font-size: 2rem;
}

.div-designs {
    display: flex;
    flex-wrap: wrap;
}

.design {
    border: 2px solid rgba(125, 0, 92, 1);
    margin: 0.6rem 0.6rem;
    padding: 0.5rem;
    border-radius: 20px;
    width: 14.8rem;
}

.design-image {width: 14.8rem; border-radius: 15px;}
.design-title {font-size: 1.3rem; font-weight: bolder;
text-align: center; color: rgba(125, 0, 92, 1)}
.design-description {font-size: 0.9rem; text-align: center; font-weight: bolder;}

@media (max-width: 900px) {
    #logo-image {
        align-self: flex-start; 
        height: 3.0rem
    }
    .nav-bar a {
            font-size: 16px;
            padding: 0.1rem;
    }
}

@media (max-width: 569px) {
    .menu-icon {width: 32px;}

    .div-top {
        flex-direction: column; 
        align-items: center;
    }
    .nav-bar {
        display: flex;
        text-align: center;
        justify-content: center;
        height: 0rem;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 1.5rem;
        padding: 0.2rem 0;
    }
    .nav-bar a {
        font-size: 0.9rem;
    }
    #logo-image {align-self: flex-start; height: 2.8rem}
    .main-title {font-size: 2.5rem;}
    .design {display: flex; width: 100%;}
    .design-image {width: 11rem; align-self: center;}
    .design-title, .design-description {padding-left: 0.1rem;}
    .design-title {font-size: 1.1rem;}
}
