@font-face {
    font-family: 'Segoe UI';
    font-display: swap;
    src: url("./index-designs/segoeuil.woff"); 
} 
html{
    height: 100%;
}

body, p {
    margin: 0;
    padding: 0;
}

#div-main {
    color: black;
    font-family: "Segoe UI";
}

.div-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3.2px;
    background: linear-gradient(145deg,
                rgba(226, 226, 255, 0.9) 0%, 
                rgba(231, 231, 255, 0.9) 20%, 
                rgba(239, 226, 255, 0.9) 40%, 
                rgba(255, 215, 234, 0.9) 60%, 
                rgba(254, 227, 206, 0.9) 80%, 
                rgba(250, 226, 164, 0.9) 100%);
    backdrop-filter: blur(10px);
    position: sticky; top: 0;
    border-bottom: 1.6px solid rgba(0, 0, 0, 0.206);
}

#logo-image {
    height: 54.4px;
    padding-left: 4.8px;
    transition: height 400ms;
    overflow: visible;
}
.nav-bar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    margin: 0px 15px;
    transition: color 0.3s, border-color 0.3s,
    font-size 0.4s, padding-bottom 0.4s;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    border-color: rgba(125, 0, 92, 0);
}
.nav-bar {transition: height 200ms;}
.nav-bar a:hover {
    color: rgb(125, 0, 92, 1);
    border-color: rgb(125, 0, 92, 1);
}

#link-home {
    color: rgba(125, 0, 92, 1);
    border-color: rgba(125, 0, 92, 1);
}

.menu-icon {
    position: absolute;
    top: 9.6px;
    right: 0;
    margin-right: 9.6px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 0px;
    transition: width 400ms;
    height: 26px;
    cursor: pointer;
}

.menu-icon .icon-bar {
    height: 6.4px;
    width: 100%;
    background: linear-gradient(
    rgba(64, 0, 104, 0.9) 0%, 
    rgba(136, 4, 19, 0.9) 100%);
    border-radius: 20px;
}

#main-category {
    background: linear-gradient(45deg, rgb(71, 0, 119) 0%, rgb(177, 0, 47) 100%);
    padding: 48px 32px;
    margin-bottom: 16px;
}

.main-title {
    font-size: 48px;
    color: rgba(255, 192, 55, 0.9);
    margin-bottom: 12.8px;
    transition: font-size 300ms;
}
.main-description {
    font-size: 19.2px;
    color: rgba(255, 255, 255, 0.8);
}

.subcategory {
    padding-left: 16px;
    font-size: 32px;
}

.div-designs {
    display: flex;
    flex-wrap: wrap;
}

.design {
    border: 2px solid rgba(125, 0, 92, 1);
    margin: 9.6px 9.6px;
    padding: 8px;
    border-radius: 20px;
    width: 236.8px;
}

.design-image {width: 236.8px; border-radius: 15px;}
.design-title {font-size: 20.8px; font-weight: bolder;
text-align: center; color: rgba(125, 0, 92, 1)}
.design-description {font-size: 14.4px; text-align: center; font-weight: bolder;}

@media (max-width: 900px) {
    #logo-image {
        align-self: flex-start; 
        height: 48px
    }
    .nav-bar a {
            font-size: 16px;
            padding: 1.6px;
    }
}

@media (max-width: 569px) {
    .menu-icon {width: 32px;}

    .div-top {
        flex-direction: column; 
        align-items: center;
    }
    .nav-bar {
        display: flex;
        text-align: center;
        justify-content: center;
        height: 0px;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 24px;
        padding: 3.2px 0px;
    }
    .nav-bar a {
        font-size: 14.4px;
    }
    #logo-image {align-self: flex-start; height: 44.8px}
    .main-title {font-size: 40px;}
    .design {display: flex; width: 100%;}
    .design-image {width: 176px; align-self: center;}
    .design-title, .design-description {padding-left: 1.6px;}
    .design-title {font-size: 17.6px;}
}
