body {
    background-color: rgb(46, 28, 10);
    font-family: 'Cambria';
    color: bisque;
}

.toplogoframe {height:70px; background-color: rgb(46, 28, 10); text-align: center;}

#biglogo {height:100%;}

.maininfoframe {
    position:relative;
    height:190px; 
    color: white;
    background-image: url(https://user-images.githubusercontent.com/68178267/161436496-5bdc4242-4d95-4265-b467-2e78de841e10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maininfotext{
    padding-left: 1%;
    padding-right: 6px;
    height:100%;
    width: 45%;
    text-align: left;
}

#maininfotitle {
    margin-bottom: 10px;
    padding-top: 3%;
    font-size: 24px;
    font-weight: bold;
}

#maininfodesc {
    font-style: italic;
    font-size: medium;
    text-align: justify;
    margin-top: 10px;
}

.mainbuttonframe table {
    background-color: rgba(243, 195, 136, 0.9);
    margin-top: 8px;
    width: 100%;
    text-align: center;
}

.mainbuttonframe td{
    border-right: 2px solid rgb(46, 28, 10);
    width:30px;
}

.mainbuttonframe #buttonhome {
    border-left-width: 0px;
}
.mainbuttonframe #buttoncontact {
    border-right-width: 0px;
}

.mainbuttonframe a{
    color: rgb(46, 28, 10);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
