body {
    background-color: rgb(46, 28, 10);
    font-family: 'Cambria';
    color: bisque;
}

/* Top Logo frame */
.toplogoframe {height:70px; background-color: rgb(46, 28, 10); text-align: center;}

#biglogo {height:100%;}

/* Top Frame containing Short desc and food background */
.maininfoframe {
    position:relative;
    height:190px; 
    color: white;
    background-image: url(https://user-images.githubusercontent.com/68178267/161436496-5bdc4242-4d95-4265-b467-2e78de841e10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* div containing text */
.maininfotext{
    padding-left: 1%;
    padding-right: 6px;
    max-height: max-content;
    overflow-y: auto;
    height:100%;
    width: 45%;
    text-align: left;
}

#maininfotitle {
    margin-bottom: 10px;
    padding-top: 5%;
    font-size: 24px;
    font-weight: bold;
}

#maininfodesc {
    font-style: italic;
    font-size: 16px;
    text-align: justify;
    margin-top: 10px;
}

/* Main menu */
.mainbuttonframe #buttontable {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.mainbuttonframe #buttontable td{
    background-color: rgb(243, 195, 136);
    border-right: 1px solid rgb(46, 28, 10);
    overflow: hidden;
    width:30px;
}

.mainbuttonframe #buttontable td:hover>a, #buttontable td:hover {
    background-color: rgb(100, 82, 61);
    color: rgb(243, 195, 136);
}

.mainbuttonframe #buttonhome {
    border-left-width: 0px;
}
.mainbuttonframe #buttoncontact {
    border-right-width: 0px;
}

.mainbuttonframe a{
    color: rgb(46, 28, 10);
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    display: block;
    white-space: nowrap;
}


/* Main Content */
.content {
    background-color: rgb(46, 28, 10);
    height: 100%;
}

.content #contenttable {
    table-layout: fixed;
    width:100%;
}

.content #contenttable td {
    width:50%;
    overflow-y: auto;
}

/* Home description */
.content #homedescell {
    border-right: 2px solid rgba(100, 82, 61, 0.3);
}

.content #homedescription {
    width:100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.content #homedescription h1 {
    text-align: center;
    color:rgb(192, 146, 94)
}

.content #homedescription h2 {
    text-align: center;
    font-family: 'Times New Roman';
    font-style: italic;
}

.content #homedescription #listspec {
    padding-left: 15%;
    font-size: 18px;
    font-style: italic;
}

/* Feedback division */
.content #feedbackdiv #feedbackbutton {
    color:rgb(243, 195, 136);
    background-color: rgb(100, 82, 61);
    border-color: rgb(243, 195, 136);
    margin-left: 15%;
    margin-bottom: 10px;
}

#feedbackform {
    display: none;
}

#feedbackform:target {
    display: block;
}

.content #feedbackdiv #feedbacktable {
    margin-left: 5%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    border: 2px solid rgba(192, 146, 94, 0.3);
    padding: 4% 2% 1% 2%;
}

.content #feedbackdiv #feedbacktable td {
    width: 1px;
    overflow: hidden;
}

#nameinput, #emailinput, #feedbackinput {
    background-color: rgb(243, 195, 136);
    color:rgb(46, 28, 10);
    font-family: "Calibri";
    font-size: 15px;
    border-width: 1px;
    width: 80%;
    margin-right: 20px;
}

#feedbacklabel {
    text-align: top;
}
#feedbackinput {
    resize: none;
    height: 100px;
}
#feedbacksubmit, #feedbackreset {
    background-color: rgb(100, 66, 28);
    color: rgb(243, 195, 136);
    font-weight: bold;
}
