body {
    background-color: rgb(46, 28, 10);
    font-family: 'Cambria';
    color: bisque;
}

/* Top Logo frame */
.toplogoframe {height:70px; background-color: rgb(46, 28, 10); text-align: center;
    background: url(https://user-images.githubusercontent.com/68178267/161711885-76550caf-75a7-4649-a2c0-3ee0403348b1.png) rgba(46, 28, 10, 0.82);
    background-position: top;
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 500px;}

#biglogo {height:90%;}

/* Top Frame containing Short desc and food background */
.maininfoframe {
    position:relative;
    width:100%;
    height:190px; 
    color: white;
}

.maininfoframe #mainbg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://user-images.githubusercontent.com/68178267/161721219-e240a1c4-135f-445f-a57e-2f811e425e6e.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

/* div containing text */
.maininfotext{
    position: absolute;
    padding-left: 1%;
    padding-right: 6px;
    overflow-y: auto;
    height:100%;
    width: 45%;
    text-align: left;
}

#maininfotitle {
    margin-bottom: 10px;
    padding-top: 5%;
    font-size: 24px;
    font-weight: bold;
}

#maininfodesc {
    font-style: italic;
    font-size: 16px;
    text-align: justify;
    margin-top: 10px;
}

/* Main menu */
.mainbuttonframe #buttontable {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.mainbuttonframe #buttontable td{
    background-color: rgb(243, 195, 136);
    border-right: 1px solid rgb(46, 28, 10);
    overflow: hidden;
    width:30px;
}

.mainbuttonframe #buttontable td:hover>a, #buttontable td:hover {
    background-color: rgb(100, 82, 61);
    color: rgb(243, 195, 136);
}

.mainbuttonframe #buttonhome {
    border-left-width: 0px;
}
.mainbuttonframe #buttoncontact {
    border-right-width: 0px;
}

.mainbuttonframe a{
    color: rgb(46, 28, 10);
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    display: block;
    white-space: nowrap;
}
