#nonmain {
    display: flex;
    padding-bottom: 60px;
    border-bottom: 2px solid rgba(103, 33, 5, 0.386);
}

#nonmain a {
    color: inherit;
    text-decoration: inherit;
}

#navpanel {
    width: 20%;
    min-width: 140px;
    max-width: 190px;
    float: left;
    background-color: rgba(230, 177, 102, 0.503);
    border-radius: 20px 20px;
    margin: 5px 0px;
    padding: 2px;
    padding-left: 4px;
    padding-bottom: 8px;
    font-size: 17px;
    height: min-content;
}

#menuindextable {
    width: 100%;
}

.indexheader {
    color: rgb(177, 60, 13);
    font-family: "Georgia";
    font-style: italic;
    font-size: 22px;
}

.indexmainheader {
    color: rgb(224, 49, 55);
    font-family: "FreestyleScript";
    font-size: 40px;
}

#menu {
    width: 85%;
    margin-left: 2%;
    margin-right: 1%;
    float: right;
    min-width: 500px;
}

#menutable {
    width: 100%;
}

.menu-title {
    text-align: center;
    color: rgb(187, 165, 54);
    font-size: 40px;
    font-family: "FreestyleScript";
}

.menu-subcategory {
    color: rgb(209, 95, 34);
    font-family: "Georgia";
    font-size: 28px;
    border-bottom: 2px solid rgba(151, 87, 50, 0.595);
    padding-top: 20px;
    vertical-align: middle;
}

.menu-category {
    color: rgb(233, 93, 37);
    font-family: "FreestyleScript";
    font-size: 75px;
    padding-top: 25px;
}

.menu-item{
    font-size: 20px;
    font-family: "Cambria";
    text-align: left;
}