#nonmain {
    font-size: 20px;
    width: 90%;
    margin-left: 5%;
    text-align: justify;
    padding-bottom: 5%;
    border-bottom: 2px solid rgba(49, 35, 9, 0.382);
}

#content h1 {
    font-family: "FreestyleScript";
    font-size: 70px;
    font-weight: normal;
    color: rgb(221, 124, 20);
    text-align: center;
}

#content p {
    font-style: italic;
}

#contentmain {
    width: 100%;
    table-layout: fixed;
}

#para2 {
    width: 80%;
}

#logo {
    text-align: center;
    width: 20%;
}

#logo img {
    max-width: 110px;
    width: 90%;
    margin-left: 10px;
}