#ht-tips {
    width: 100%;
}

#ht-title {
    text-align: center;
    color: rgb(198, 98, 36);
    font-family: "FreestyleScript";
    font-size: 60px;
}

#ht-content {
    padding: 20px;
    padding-bottom: 40px;
    font-size: 22px;
    background-color: rgba(239, 56, 56, 0.133);
    border:2px solid rgb(171, 77, 19);
    border-radius: 40px;
}
.ht-subtitle {
    font-family: "Georgia";
    font-weight: bold;
    color: rgb(212, 61, 61);
    font-size: 28px;
    margin-bottom: 5px;
}